.container-carousel {
    margin-top: 55px;
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
  }
  
  .carruseles {
    width: 1000%;
    height: 100%;
    display: flex;
    transition: transform 0.3s ease;
  }
  
  .slider-section {
    width: 10%; /* Cambiamos el ancho a 10% para cada sección */
    height: 100%;
    display: flex; /* Hacemos que el contenido sea un contenedor flexible */
    justify-content: center; /* Centramos horizontalmente el contenido */
    align-items: center; /* Centramos verticalmente el contenido */
  }
  
  .slider-section img {
    height: 100%;
    width: 100%;
    object-fit: center;
  }

.btn-left,
.btn-right {
  display: flex;
  position: absolute;
  top: 50%;
  font-size: 1.5rem;
  background-color: transparent;
  border-radius: 50%;
  padding: 5px;
  font-weight: 600;
  cursor: pointer;
  color: #ffffff81;
  transform: translate(0, -50%);
  transition: 0.5s ease;
  user-select: none;
}

.btn-left:hover,
.btn-right:hover {
  background-color: black;
  color: white;
}

.btn-left {
  left: 10px;
}

.btn-right {
  right: 10px;
}
